*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around ;
  align-items: end;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.calculator-grid > button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, .75);
  border: 1px solid white;
  font-size: 2rem;
  outline: none;
  transition: all .3s;
}

.calculator-grid > button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, .9);
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}